# เมินโฟลเดอร์ตั้งค่าของ Visual Studio (ตัวต้นเหตุ)
.vs/

# เมินโฟลเดอร์ Build ของ .NET
bin/
obj/

# เมินไฟล์ฐานข้อมูล SQLite (ไม่ควรเอาขึ้น Git เพราะขนาดจะใหญ่ขึ้นเรื่อยๆ)
*.db
*.db-shm
*.db-wal
*.sqlite
